#description{font-size: 18px; font-weight: 600;}
#nsm-form {
    background: #EEEEEE;
    width: 96%;
    padding-left: 4%;
    max-width: 500px;
    float: left;
}

#nsm-form .form-submit{
    float: right;
}